<h2>Contact us</h2>
<form action="/contacts" method="post" id="visitform">
  <div class="form-group">
    <label for="contactsname">Enter your name</label>
    <input type="text" class="form-control" name="contactsname" id="contactsname" placeholder="name">
  </div>
  <div class="form-group">
    <label for="contactstext">Text</label>
    <input type="text" class="form-control" name="contactstext" id="contactstext" placeholder="Text">
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>